.logo {
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  flex-grow: 1; /* 부모의 남은 공간을 채움 */
  padding-top: 80px;
  margin-right: 50px;
}
.logo-container {
  display: flex;
  justify-content: center; /* .logo-container의 콘텐츠를 중앙에 배치 */
}
.logo img {
  width: 140px; /* 원하는 크기로 조정 */
  margin-left: 15px;
}
.logo-img-2 {
  margin-right: 100px;
}
.containers {
  width: 100%;
  height: 200px; /* 필요한 높이로 설정 */
  padding: 20px 0; /* 적절한 패딩값 설정 */
}
.search-input-container {
  position: relative; /* 아이콘을 input 내부에 배치하기 위한 상대 위치 설정 */
  display: inline-block;
  display: flex;
  padding: 0;
  margin: 0; /* input과 아이콘을 함께 배치 */
  padding-top: 80px; /* 상단 여백 설정 */
  margin-left: -80px;
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 70%;
  right: 10%;
  width: 25px;
}
.input {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 95%; /* 너비를 100%로 설정 */
  padding-left: 3%;
  height: 50px; /* 기본 높이 */
  border: none;
  margin: 0;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}
.searchContainer-login-container {
  display: flex;
  justify-content: flex-end;
}

.searchContainer-signUp-button {
  color: #b1b1b1;
  cursor: pointer;
  font-weight: 500;
}

.searchContainer-signUp-button:hover {
  color: #636363;
}
.bar-container {
  margin-bottom: 200px;

  height: 200px;
  padding: 0;
}
.containers {
  border-bottom: 1px solid #dcdcdc;
}
@media (max-width: 500px) {
  .logo-container {
    display: flex;
    justify-content: center; /* 모바일에서 중앙 정렬 유지 */
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: flex-start; /* 이미지 중앙 정렬 */
    align-items: center;
    padding-top: 20px; /* 상단 여백 축소 */
    padding-left: 20px;
    width: 100%;
    margin-right: 0;
  }
  .containers {
    padding-bottom: 0;
    height: 180px;
  }
  .logo img {
    width: 80px;
    margin: 5px;
  }
  .bar-container {
    height: 150px;
  }
  .bar-container {
    width: 100%; /* 모든 관련 요소에 너비 100% 적용 */
  }
  .search-input-container {
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%; /* 양쪽 여백 */
    width: 100%;
    margin-left: 0;
    display: flex;
    position: relative;
  }
  .searchIcon {
    position: absolute;
    right: 10%;
    top: 50%;
  }
  .searchContainer-signUp-button {
    font-size: 0.8rem;
  }
  .input {
    padding: 5%;
    width: 100%;
    height: 40px;
  }
  .searchContainer-signUp-button {
    margin-right: 15px;
  }
}
