/* 인기 레시피 */
.recipe-page-all-container {
  position: relative;
  min-height: 100vh; /* 부모 요소가 전체 화면을 차지하도록 설정 */
  padding-bottom: 150px; /* 버튼 컨테이너가 네비게이션과 겹치지 않도록 여백 추가 */
}
.recipe-page-container {
  padding-top: 10px; /* SearchContainer와 거리 */
}
.add-recipe-btn-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 280px;
  margin-bottom: 180px; /* Navbar의 높이만큼 공간 확보 */
}
.add-recipe-plus-icon {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.add-recipe-font {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
}
.add-recipe-plus-icon.rotated {
  transform: rotate(45deg);
}
.popular-recipe-container {
  margin-top: 20px; /* SearchContainer와 거리 */
  margin-left: 20%;
  font-size: 20px;
}
.add-recipe-font:hover {
  color: #fa590f;
  border: 2px solid #fa590f;
}
@media (max-width: 500px) {
  .add-recipe-plus-icon {
    width: 40px;
    position: relative;
  }
  .add-recipe-btn-container {
    right: 40px;
    bottom: -60px;
  }
  .popular-recipe-container {
    margin-left: 50px;
    font-size: 17px;
  }
  .add-recipe-font {
    bottom: 100px;
    position: absolute;
    width: 190px;
    right: -10px;
    bottom: 60px;
  }
}
