.icon {
  width: 40px;
  height: 40px;
  fill: #afafaf; /* 기본 색상 */
  stroke: #afafaf; /* 기본 외곽선 색상 */
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.icon.hovered {
  fill: #fa590f; /* hover 시 채우기 색상 변경 */
  stroke: #fa590f; /* hover 시 외곽선 색상 변경 */
}
.icon.homepage-icon {
  stroke-width: 0.5;
}

/* 각 아이콘의 크기를 다르게 설정하고 싶을 경우 개별 스타일 추가 가능 */
.icon.homepage-icon {
  width: 30px;
  height: 30px;
}

.icon.recipe-icon {
  width: 30px;
  height: 30px;
}

.icon.star-icon {
  width: 30px;
  height: 30px;
}

.icon.my-icon {
  width: 30px;
  height: 30px;
}
