/* 추천 레시피 */
.recommended-recipe-container {
  position: relative; /* 절대 위치 대신 상대 위치 */
  margin-top: 20px; /* SearchContainer와의 거리 */
}

.recommended-recipe {
  margin-left: 50px;
}
@media (max-width: 500px) {
  .recommended-recipe {
    margin-left: 50px;
    top: -170px;
  }
}
